<h5>SIGN UP TODAY</h5>
<p>Don't miss another deal again!</p>

<!-- <form id="Optin3" class="form body-form" action="https://click.bsftransmit3.com/OptIn.aspx?OptinFormID=3&26241823=1022" method="post" name="OptinForm3"> -->
<form id="Optin3" class="form body-form" action="https://click.publicaster.com/OptIn.aspx?OptinFormID=3&26241823=1022" method="post" name="OptinForm3">
    <fieldset class="form-fieldset">
        <input type="hidden" name="OptinFormID" value="3" />
        <input type="hidden" name="26241823" value="1022" />
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label u-hiddenVisually" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix">
                <input class="form-input newsletter-signup" id="nl_email" name="UEmail" type="email" value="{{customer.email}}" placeholder="Email Address">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="JOIN &#187;" onClick="ga('send', 'event', { eventCategory: 'email', eventAction: 'signup'}); fbq('track', 'CompleteRegistration');">
                <input type="hidden" name="field65" value="" />
            </div>
        </div>
    </fieldset>
</form>