{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    {{#each banners.bottom}}
    <div class="banner">
        {{{this}}}
    </div>
    {{/each}}
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">

            <div class="desktop-top-footer">
                <div class="top-container">
                    <article class="footer-info-col news-signup" data-section-type="newsletterSubscription">
                        
                        {{> components/common/subscription-form }}
                        
                        {{> components/common/social-links }}
                    </article>

                    <article class="desktop-social social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/golfetail" target="_blank"><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/social-icons-03.png" height="40px" width="40px" alt=""></a></li>
                            <li><a href="https://twitter.com/golfetail" target="_blank"><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/social-icons-05.png" height="40px" width="40px" alt=""></a></li>
                        </ul>
                    </article>
                </div>
            </div>

            <div class="bottom-container">
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">Company Info</h5>
                    <ul class="footer-info-list">
                        <li><a href="tel:+1-877-570-4653">1-877-570-4653</a></li>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="/affiliate-program/">Affiliate Program</a></li>
                        <li><a href="/sales-import-tax/">Sales & Taxes</a></li>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                    <h5 class="footer-info-heading">My Account</h5>
                    <ul class="footer-info-list">
                        <li><a href="/account.php">My Account</a></li>
                        <li><a href="/register.php">Create Account</a></li>
                        <li><a href="/cart.php">Shopping Cart</a></li>
                        <li><a href="/shipping/">Shipping</a></li>
                        <li><a href="/returns/">Returns</a></li>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                    <h5 class="footer-info-heading">Quick Links</h5>
                    <ul class="footer-info-list">
                            <!-- <li><a href="/helpful-tips/">Helpful Tips</a></li> -->
                            <!-- <li><a href="http://videosmackdown.golfetail.com/" target="_blank">Video Smackdown</a></li> -->
                            <li><a href="/testimonials/">Testimonials</a></li>
                            <li><a href="/sitemap/">Site Map</a></li>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/golfetail" target="_blank"><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/social-icons-03.png" height="40px" width="40px" alt=""></a></li>
                        <li><a href="https://twitter.com/golfetail" target="_blank"><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/social-icons-05.png" height="40px" width="40px" alt=""></a></li>
                    </ul>
                </article>
                <div class="secure">
                    <!-- <img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/bizrate-03.png" alt=""> -->
                <a id="bbblink" class="rbhzbum" href="http://www.bbb.org/central-western-massachusetts/business-reviews/golf-equipment-and-supplies-retail/golfetail-in-wilbraham-ma-256294#bbbseal" title="GolfEtail, Inc., Golf Equipment & SuppliesRetail, Wilbraham, MA" style="display: block;position: relative;overflow: hidden; width: 150px; height: 57px; margin: 0px; padding: 0px;"><img style="padding: 0px; border: none;" id="bbblinkimg" src="https://seal-central-westernma.bbb.org/logo/rbhzbum/golfetail-256294.png" width="300" height="57" alt="GolfEtail, Inc., Golf Equipment & SuppliesRetail, Wilbraham, MA" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-central-westernma.bbb.org' + unescape('%2Flogo%2Fgolfetail-256294.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                    <p>Discount Golf Clubs & Affordable Golf Equipment from GolfEtail.</p>
                    <ul>
                        <li><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/payments-17.png" alt=""></li>
                        <li><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/payments-19.png" alt=""></li>
                        <li><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/payments-21.png" alt=""></li>
                        <li><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/visa-03.png" alt=""></li>
                        <li><img src="https://cdn6.bigcommerce.com/s-wrw5mek/product_images/uploaded_images/payments-25.png" alt=""></li>
                    </ul>
                </div>
            </div>

            <!-- GOOGLE REMARKETING -->
            <script type="text/javascript">
            if (window.google_tag_params == undefined) {
                var google_tag_params = {
                    ecomm_pagetype: 'other',
                    ecomm_prodid: '',
                    ecomm_totalvalue: 0
                };
            }
            </script>
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1071466671;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1071466671/?value=0&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>
            <!-- END GOOGLE REMARKETING -->


            <div class="copyright">
                <p>Copyright 2016 GolfEtail.com. All Rights Reserved.<span><br></span>
                    <a href="http://www.diztinct.com/bigcommerce-design.html" target="_blank">Custom Ecommerce Design</a> by Diztinct.com
                </p>
            </div>


        </section>

    </div>
  

</footer>
