<article class="card {{#if alternate}}card--alternate{{/if}}">
    
    <figure class="card-figure">
        <a href="{{url}}"><img class="card-image" src="{{getImage image 'gallery' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}"></a>
    </figure>

    <div class="card-body">

        <h4 class="card-title">
            <a href="{{url}}">{{name}}</a>
        </h4>

        <div class="card-text">

            <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
                
                <span class="blue-price price price--withoutTax">{{price.without_tax.formatted}}</span>


                {{#if price.rrp_without_tax}}
                    <span class="price price--rrp retail-price">Retail {{price.rrp_without_tax.formatted}}</span>
                {{/if}}
                <span class="red-price">Save {{price.saved.formatted}}</span>

                {{#if schema_org}}
                    <meta itemprop="price" content="{{price.without_tax.value}}">
                    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                {{/if}}

                

            </div>

        </div>

        {{#if show_rating}}
            <p class="card-text">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </span>
            </p>
        {{/if}}

    </div>
</article>
