<article class="card {{#if alternate}}card--alternate{{/if}}">
    
    
        
    <div class="card-body">

       
        <h4 class="card-title">
            <a href="{{url}}">{{name}}</a>
        </h4>

         <!-- <div class="card-text">

            <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>

                <span data-product-price-without-tax class="blue-price price price--withoutTax">{{price.without_tax.formatted}}</span>
                
                {{#if price.rrp_without_tax}}
                    <span data-product-rrp-without-tax class="price price--rrp retail-price">Retail {{price.rrp_without_tax.formatted}}</span>
                {{/if}}

                <span class="you-save-percent"></span>

                {{#if schema_org}}
                    <meta itemprop="price" content="{{price.without_tax.value}}">
                    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                {{/if}}

            </div> 

        </div> -->

        <!-- <span class="box"><a href="{{url}}">Details &#187</a></span> -->

    </div>
    
</article>
